* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 300px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(212, 212, 212);
}

article.product {
    background: #fff;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);


}

.product figure {
    padding: 4rem 2rem;
    background: rgb(255, 208, 0);
}

.adidas-image {
    max-width: 100%;

}

.product figure figcaption {
    color: rgba(255,255,255,.4);
}

.product-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.product-info h1 {
    font-size: 1.5rem;
}

.product-info h2 {
    font-size: 1rem;
}

.product-info p {
    margin: 1rem 0;
    color: rgba(0,0,0,.7);
}

.price {
    margin-top: 1rem;
    align-self: flex-end;
    font-size: 2rem;
    font-weight: bold;
}